<a href="https://colab.research.google.com/github/sandhamramadevi/jntua-python/blob/master/DAY9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## markdown
### markdown

**points**

*points*

***points***

*** Adding links to markdown*** 

[site](https://www.jntua.ac.in/)

![text]()

In [1]:
print("hello world")

hello world

In [2]:
print("hello, jntua","|||" ,"cse","|||","mca")

hello, jntua ||| cse ||| mca

# variable creation

In [4]:
n1=100
print(n1)
a=b=c=10 #multi variable assignment of same value
print(a,b,c)
a1,b1,c1=1,2,3
print(a1,b1,c1)

100
10 10 10
1 2 3

#Data types and conversions
*int 

*float 

*string

In [5]:
a=100
s1=10.2
s2="python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [6]:
i=100
s1=type(i)
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'str'>
<class 'float'>

# length

In [7]:
a=123456
print(len(str(a)))

6

# Reading input from user-----input function

In [9]:
a=input("enter ur name : ")
print(a)
print(type(a))

enter ur name : ramaaa
ramaaa
<class 'str'>

In [10]:
b=int(input("enter ur age : "))
print(b)
print(type(b))

enter ur age : 20
20
<class 'int'>

# Operators

### operator is a symbol is used to perform a specific kind of operations.
## Arithmetic operator
- +
- -
- *
- /
- %
- //
- **

In [13]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

#Relational operators
- =
- ==
- !=
- >
- <
- >=
- <=

In [14]:
x=10
a=x>15
print(a)

False

# Logical operators

- and
- or
- not

In [21]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) or (i>800)
i= not 100
print(a1)
print(a2)
print(i)

True
True
False

# control flow statements
###conditional stmts
### looping stmts





# if-else stmt
## syntax
# if boolean_condition
# statements
# else:
# statements

## To check given num is even or odd

In [26]:
n=int(input("enter  a num"))
if n%2==0:
  print(n,"is even num")
else:
  print(n,"is odd num")

enter  a num2
2 is even num

# to check given num is perfectly multiples of 3 and 5

In [28]:
n=int(input("enter a num"))
if (n%3==0) and (n%5==0):
  print("multiple")
else:
  print("not multiple")

enter a num12
not multiple

### check given num is +ve -ve oor zero

In [31]:
n=int(input("enter one num"))
if n>0:
 print("positive")
elif n<0:
 print("negitive")
else:
  print("equals to 0")

enter one num2
positive

In [37]:

n1=int(input("enter a value"))
n2=int(input("enter b value"))
n3=int(input("enter c value"))
if n1>n2 and n1>n3:
  print("a is greatest")
elif  n2>n3:
  print("b is greatest")
else:
  print("c is greatest")

enter a value10
enter b value2
enter c value3
a is greatest

In [42]:
n=int(input("enter a year"))
if (n%4==0) or (n%100==0) or (n%400==0):
 print("leap year")
else:
 print("not a leap year")

enter a year1900
leap year